{% extends 'base.html' %}
{% block title %}{{ room.name }}{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'hotels:hotels_list' %}">景点:{{ room.name }}</a>></li>
                <li>详情</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block custom_content %}
    <section>
        <div class="wp">
            <div class="groupPurchase_detail detail">
                <div class="toppro">
                    <div class="left">
                        <div class="picbox">
                            <div class="tb-booth tb-pic">
                                <img width="440" height="445" src="{{ MEDIA_URL }}{{ room.image }}" class="jqzoom"/>
                            </div>
                        </div>
                        <div class="des">
                            <h1 title="{{ room.name }}">{{ room.name }}</h1>
                            <span class="key">{{ room.desc }}</span>
                            <div class="prize">
                                <span class="fl">
                                    售价：<i class="key">{{ room.price }} </i>¥
                                </span>
                                &nbsp;&nbsp;&nbsp;
                                <span>

                                    房间类别：<i class="key">{{ room.get_degree_display }}</i>

                                </span>
                                <br>

                            </div>

                            <ul class="parameter">

                                <li>
                                <span class="pram word3">购买人数：{{ room.fav_nums }}</span>
                                </li>


                            </ul>
                            <div class="btns">

                                <div id="jsLeftBtn" class="buy btn"><a style="color: white; display: block;"
                                                        href="{% url 'hotels:room_detail' room.id %}">购买</a>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="right companyrank layout">
                      <div class="head">热门酒店</div>
                      {% for relate_room in relate_rooms %}
                          <dl class="des difdes">
                                <dt>
                                  <a href="{% url 'hotels:room_detail' relate_room.id %}">
                                    <img width="60" height="60" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ relate_room.image }}"/>
                                      {{ relate_room.name }}

                                  </a>

                                </dt>
                                <dd>


                                </dd>
                          </dl>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wp">
            <div class="list groupPurchase_detail_pro">
                <div class=" layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active">详情</li>
                        </ul>
                    </div>
                    <div class="tab_cont tab_cont1">
                        <p>{% autoescape off %}{{ room.detail }}{% endautoescape %}</p>
                    </div>
                    <div class="tab_cont tab_cont2">
                        <div class="comment">
                            <div class="comenlist">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    <script>
        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'hotels:add_fav' %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.location.href = "{% url 'login' %}";
                        } else {
                            current_elem.text(data.msg)
                        }
                    } else if (data.status == 'success') {
                        {#current_elem.text(data.msg);#}
                        alert(data.msg)
                    }
                },
                error: function (error) {
                    alert('服务器出错，购买失败！')
                }
            });
        }

        // 收藏课程
        $('#jsLeftBtn').on('click', function () {
            add_fav($(this), {{ room.id }}, 2);
        });

    </script>
{% endblock %}