{% extends 'base.html' %}
{% block title %}{{ schedule.name }}{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'schedules:schedules_list' %}">行程:{{ schedule.name }}</a>></li>
                <li>详情</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block custom_content %}
    <section>
        <div class="wp">
            <div class="groupPurchase_detail detail">
                <div class="toppro">
                    <div class="left">
                        <div class="picbox">
                            <div class="tb-booth tb-pic">
                                <img width="440" height="445" src="{{ MEDIA_URL }}{{ schedule.image }}" class="jqzoom"/>
                            </div>
                        </div>
                        <div class="des">
                            <h1 title="{{ schedule.name }}">{{ schedule.name }}</h1>
                            <span class="key">{{ schedule.desc }}</span>
                            <div class="prize">
                                <span class="fl">
                                    售价：<i class="key">{{ schedule.price }} </i>¥
                                    </span>
                                <br>

                            </div>

                            <ul class="parameter">
                                <li>
                                    <span class="pram word3">热度：{{ schedule.tag }}</span>
                                </li>
                                <li>
                                <span class="pram word3">购买人数：{{ schedule.fav_nums }}</span>
                                </li>
                                <li><span class="pram word3">行程类别：</span><span  class="pram word3">{{ schedule.get_category_display }}</span>
                                </li>

                            </ul>
                            <div class="btns">

                                <div id="jsLeftBtn" class="buy btn"><a style="color: white; display: block;"
                                                        href="{% url 'schedules:schedules_detail' schedule.id %}">购买</a>

{#                                <div id="jsLeftBtn" class="buy btn">ss</a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="right companyrank layout">
                      <div class="head">热门行程</div>
                      {% for relate_schedule in relate_schedules %}
                          <dl class="des difdes">
                                <dt>
                                  <a href="{% url 'schedules:schedules_detail' relate_schedule.id %}">
                                    <img width="60" height="60" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ relate_schedule.image }}"/>
                                      {{ relate_schedule.name }}

                                  </a>

                                </dt>
                                <dd>


                                </dd>
                          </dl>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wp">
            <div class="list groupPurchase_detail_pro">
                <div class=" layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active">详情</li>
                        </ul>
                    </div>
                    <div class="tab_cont tab_cont1">
                         <p>{% autoescape off %}{{ schedule.detail }}{% endautoescape %}</p>
                    </div>
                    <div class="tab_cont tab_cont2">
                        <div class="comment">
                            <div class="comenlist">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    <script>
        //收藏分享
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'schedules:add_fav' %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: false,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == '用户未登录') {
                            window.event.returnValue=false
                            window.location.href = "{% url 'login' %}";
                        } else {
                            current_elem.text(data.msg)
                        }
                    } else if (data.status == 'success') {
                        {#current_elem.text(data.msg);#}
                        alert(data.msg)
                    }
                },
                error: function (error) {
                      alert("服务器出错，购买失败")
                }
            });
        }

        //
        $('#jsLeftBtn').on('click', function () {
            add_fav($(this), {{ schedule.id }}, 1);
        });

    </script>
{% endblock %}