{% extends 'base.html' %}
{% block title %}{{ schedule.name }}{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'schedules:schedules_list' %}">行程:{{ schedule.name }}</a>></li>
                <li>行程详情</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block custom_content %}
<section>
  <div class="wp">
    <div class="groupPurchase_detail detail">
      <div class="toppro">
        <div class="left">
          <div class="picbox">
            <div class="tb-booth tb-pic">
              <img width="440" height="445" src="{{ MEDIA_URL }}{{ schedule.image }}" class="jqzoom"/>
            </div>
          </div>
          <div class="des">
            <h1 title="django 从入门到精通体验开始了">{{ schedule.name }}</h1>
            <span class="key">{{ schedule.desc }}</span>
            <div class="prize">
              <span class="fl">难度：<i class="key">{{ schedule.get_degree_display }}</i></span>
                <!--
              <span class="fr">学习人数：{{ schedule.students }}</span>
              -->
            </div>
            <ul class="parameter">
            <!--
              <li><span class="pram word3">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长：</span><span>{{ schedule.learn_times }}</span></li>
              <li><span class="pram word3">章&nbsp;节&nbsp;数：</span><span>{{ schedule.get_zj_nums }}</span></li>
              -->
              <li><span class="pram word3">行程类别：</span><span title="">{{ schedule.category }}</span></li>
              <li class="piclist"><span class="pram word4">用户：</span>
                {% for user_schedule in schedule.get_learn_users %}
                  <span class="pic"><img width="40" height="40" src="{{ MEDIA_URL }}{{ user_schedule.user.image}}"/></span>
                {% endfor %}

              </li>
            </ul>
            <div class="btns">
              <div class="btn colectgroupbtn" id="jsLeftBtn">
                {% if has_fav_schedule %}
                  已收藏
                {% else %}
                  收藏
                {% endif %}
              </div>
              <div class="buy btn"><a style="color: white; display: block;" href="{% url 'schedules:schedules_detail' schedule.id %}">开始我的行程</a></div>
            </div>
          </div>
        </div>
 <div class="right">
        <div class="head">
            <h1>   相关推荐</h1>
        </div>
        <div class="group_recommend">
          {% for relate_schedule in relate_schedules %}
            <dl>
            <dt>
              <a target="_blank" href="">
                <img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ relate_schedule.image }}"/>
              </a>
            </dt>
            <dd>
              <a target="_blank" href=""><h2>{{ relate_schedule.name }}</h2></a>
              <span class="fl">学习时长：<i class="key">{{ relate_schedule.learn_times }}</i></span>
            </dd>
          </dl>
          {% endfor %}
        </div>
      </div>
    </div>
          <div class="clear">

          </div>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="wp">
    <div class="list groupPurchase_detail_pro">
      <div class="left layout">
        <div class="head">
          <ul class="tab_header">
            <li class="active">详情</li>
          </ul>
        </div>
        <div class="tab_cont tab_cont1">
            {% autoescape off %}
                {{ schedule.detail }}
            {% endautoescape %}
        </div>
        <div class="tab_cont tab_cont2">
          <div class="comment">
            <div class="comenlist">

            </div>
          </div>
        </div>
      </div>

  </div>
</section>
{% endblock %}

{% block custom_js %}
 <script>
//收藏分享
function add_fav(current_elem, fav_id, fav_type) {
  $.ajax({
    cache: false,
    type: "POST",
    url: "{% url 'hotels:add_fav' %}",
    data: {'fav_id': fav_id, 'fav_type': fav_type},
    async: true,
    beforeSend: function (xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    },
    success: function (data) {
      if (data.status == 'fail') {
        if (data.msg == '用户未登录') {
          window.location.href = "{% url 'login' %}";
        } else {
          current_elem.text(data.msg)
        }
      } else if (data.status == 'success') {
        current_elem.text(data.msg)
      }
    },
    error: function(error) {
      alert('ajax 请求失败！')
    }
  });
}
// 收藏课程
$('#jsLeftBtn').on('click', function () {
    add_fav($(this), {{ schedule.id }}, 1);
});

//收藏课程机构
$('#jsRightBtn').on('click', function () {
    add_fav($(this), {{ schedule.schedule_org.id }}, 2);
});
</script>
{% endblock %}