{% extends 'spots-base.html' %}
{% load staticfiles %}
{% block custom_title %}酒店首页{% endblock %}
{% block page_path %}酒店首页{% endblock %}
{% block right_form %}
<div class="right companycenter layout grouping">
  <div class="head">
    <h1>全部房间</h1>
{#    <a class="green fr more" href="{% url 'spots:spot_home' spot.id %}">查看更多 > </a>#}
  </div>
  <div class="brief group_list">
    <!-- 全部 -->
    {% for room in all_rooms %}
    <div class="module1_5 box">
      <a href="{% url 'spots:room_detail' room.id %}"><img width="214" src="{{ MEDIA_URL }}{{ room.image }}"/></a>
      <div class="des">
        <a href="{% url 'spots:room_detail' room.id %}"><h2>{{ room.name }}</h2></a>
        <span class="fr">参加人数：{{ room.buy_nums }}</span>
      </div>
      <div class="bottom">
        <span class="fl">{{ room.name }}</span>
        <span class="star fr notlogin" data-favid="13" data-fav-type="4">{{ room.fav_nums }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}