{% extends 'spots-base.html' %}
{% load staticfiles %}
{% block custom_title %}景区首页{% endblock %}
{% block page_path %}景区首页{% endblock %}
{% block right_form %}
<div class="right companycenter layout grouping">
  <div class="head">
    <h1>全部门票</h1>
{#    <a class="green fr more" href="{% url 'spots:spot_home' spot.id %}">查看更多 > </a>#}
  </div>
  <div class="brief group_list">
    <!-- 全部 -->
    {% for tickets in all_tickets %}
    <div class="module1_5 box">
      <a href="{% url 'spots:ticket_detail' tickets.id %}"><img width="214" src="{{ MEDIA_URL }}{{ tickets.image }}"/></a>
      <div class="des">
        <a href="{% url 'spots:ticket_detail' tickets.id %}"><h2>{{ tickets.name }}</h2></a>
        <span class="fr">参加人数：{{ tickets.fav_nums }}</span>
      </div>
      <div class="bottom">
        <span class="fl">{{ tickets.name }}</span>
        <span class="star fr notlogin" data-favid="13" data-fav-type="4">{{ tickets.click_nums }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}