{% extends 'base.html' %}
{% block title %}{{ strategy.name }}{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'strategys:strategys_list' %}">攻略:{{ strategy.name }}</a>></li>
                <li>详情</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block custom_content %}
    <section>
        <div class="wp">
            <div class="groupPurchase_detail detail">
                <div class="toppro">


                        <div class="des">
{#                            <h1 title="{{ strategy.name }}">{{ strategy.name }}</h1>#}
{#                            <span class="key">{{ strategy.desc }}</span>#}

                        </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wp">
            <div class="list groupPurchase_detail_pro">
                <div class=" layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active">详情</li>
                        </ul>
                    </div>
                    <div class="tab_cont tab_cont1">
                         <p>{% autoescape off %}{{ strategy.detail }}{% endautoescape %}</p>
                    </div>
                    <div class="tab_cont tab_cont2">
                        <div class="comment">
                            <div class="comenlist">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
{% endblock %}